@page "/counter"
@inject Greeter.GreeterClient Greeter

<PageTitle>Test</PageTitle>

<h1>Test</h1>

<p role="status">Response via gRPC: @response</p>

<button class="btn btn-primary" @onclick="SendRequest">Click me</button>

@code {
    private string response = "";

    private async void SendRequest()
    {
        HelloReply? result = await Greeter.SayHelloAsync(new HelloRequest() { Name = "Johannes" });

        Console.WriteLine(result);
        if (result is not null)
        {
            response = result.Message;
            StateHasChanged();
        }
    }
}
